/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

/* global variables that you can use :) */
:root {
  --primary-color: #2A324B;
  --secondary-color: #767B91;
  --action-color: #F7C59F;
  --tetriary-color: #C7CCDB;
  --background-white: #E1E5EE;
  --primary-font: "Roboto", "Helvetica Neue", Helvetica, Arial;
}